<html>

<form id="form" action="/upload" method="POST" enctype="multipart/form-data"> 
	<input type="file" name ="image" ></input>
	<button type="submit">Submit</button>
</form>


<script>
	// const form_element = document.getElementById("form");
	// const file = document.getElementById("file_input");

	// form_element.addEventListener("submit", (e) => {
	// 	e.preventDefault();
	// 	console.log(file.files[0]);
		
    //     fetch("http://localhost:3001/file", {
    //     method: 'POST',
    //     body: file.files[0],
    //     headers: {
    //       "Content-Type": "multipart/form-data"
    //     }
    //     })
    //     .then((res) => console.log(res))
    //     .catch((err) => ("Error occured", err));
        
	// })

    

</script>


</html>
