<html>

<form id="form"> 
	<input type="text" name="concepto" required>Concepto</input>
    <input type="number" name="monto" required>Monto</input>
	<input type="date" name="fecha" required></input>
	<input type="number" name="ID_solicitud_viatico" required></input>
	<input type="number" name="ID_tipo_gasto" required></input>
	<input type="file" name="expense_report_file" required></input>
	<button type="submit">Submit</button>
</form>


<script>
    const form_element = document.getElementById("form");
    const file = document.getElementById("file_input");

    form_element.addEventListener("submit", (e) => {
        e.preventDefault();
        const data = new FormData(form_element);
        const url = "http://localhost:3001/expense_reports";

        fetch(url, {
            method: "POST",
            body: data
        })
            .then((res) => { 
                res.json().then((e) => {console.log(e.message)}); 
            })
            .catch((err) => {
                console.log(err);
            });
    });

</script>


</html>
